/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
:host {

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);
    --primary-color: var(--blue-green);
    --light-primary-color: var(--mint-green);

    --secondary-color: var(--green-blue);
    --light-secondary-color: var(--light-blue);


    --blue-green: #00766C;//#04423d
    --bright-blue: #007AF7;
    --light-blue: #8CC2FF;
    --green-blue: #007390;
    --french-blue: #004595;
    --mint-green: #95D08E;

    --pill-accent: var(--light-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    color: #212529;
    font-size: 1rem;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

body{
    background: linear-gradient(135deg,  #8CC2FF, #004595);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}