<main class="main">
  @if (!(this.router.url.includes('/inicio'))) {<nav class="navbar navbar-expand-lg bg-body-tertiary px-3">
    <a class="navbar-brand" routerLink="/inicio">
      La Clínica OnLine
    </a>

    <div class="ms-auto d-flex align-items-center gap-2">
      <ng-container *ngIf="
            isLogged() &&
            !(
              profile()?.categoria === 'especialista' &&
              profile()?.activado === false
            );
          else loggedOut
        ">
        <span>
          Hola, {{ profile()?.nombre || "Usuario" }}
        </span>
        @if( isAdmin() ) {
        <a class="btn btn-outline-primary btn-sm" routerLink="/usuarios">
          Usuarios
        </a>
        <a class="btn btn-outline-primary btn-sm" routerLink="/informes">
          Informes
        </a>
        <a class="btn btn-outline-primary btn-sm" routerLink="/turnos">
          Turnos
        </a>
        }
        @if(profile()?.categoria === 'paciente' || profile()?.categoria === 'especialista') {
        <a class="btn btn-outline-primary btn-sm" routerLink="/mis-turnos">
          Mis turnos
        </a>
        }
        @if(profile()?.categoria === 'paciente') {
          <a class="btn btn-outline-primary btn-sm" routerLink="/turnos">
          Solicitar turno
        </a>
        }

        <a class="btn btn-outline-secondary btn-sm" routerLink="/mi-perfil">
          <i class="bi bi-person-circle me-1"></i>
          Mi perfil
        </a>

        <button class="btn btn-warning btn-sm" (click)="logout()">
          Cerrar sesión
        </button>
      </ng-container>

      <ng-template #loggedOut>
        <a class="btn btn-outline-secondary btn-sm" routerLink="/acceso">
          Ingresar
        </a>
        <a class="btn btn-primary btn-sm" routerLink="/registro">
          Registrarse
        </a>

      </ng-template>
    </div>
  </nav>
  }
  <app-loader></app-loader>
  <div class="content">
    <router-outlet />
  </div>
  <app-toasts></app-toasts>
</main>